@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
    font-family: "Roboto", sans-serif;
    background-color: #F7F8FA;
}

/* form input margin */
.form-item {
    margin-bottom: 14px !important;
}

/* form input error */
.ant-form-item-explain-error {
    color: #FF4D4F !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    font-family: "Roboto", sans-serif;
    margin-top: 2px;
}

/* form input */
.ant-input {
    color: #122751;
    font-size: 15px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

/* antd password input */
.ant-input-affix-wrapper {
    color: #122751 !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    font-family: "Roboto", sans-serif;
}

/* ant input placeholder */
.ant-input::placeholder {
    color: #8D94A3 !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    font-family: "Roboto", sans-serif;
}

/* select input */
.ant-select-selection-item {
    color: #122751;
    font-size: 13px;
    font-weight: 500 !important;
    font-family: "Roboto", sans-serif;
}

/* select input placeholder text */
.form-select-input .ant-select-selection-placeholder {
    color: #8D94A3 !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

/* date and time input */
.time-input input {
    color: #122751 !important;
    font-family: "Roboto", sans-serif;
}

/* date and time placeholder */
.time-input input::placeholder {
    color: #8D94A3 !important;
    font-size: 14px !important;
    font-family: "Roboto", sans-serif;
}

/* date and time icon color */
.ant-picker-suffix {
    color: #122751 !important;
    font-family: "Roboto", sans-serif;
}

/* ant input label */
.ant-form-item-label>label {
    color: #122751 !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    font-family: "Roboto", sans-serif;
}

/* checkbox label */
.ant-checkbox-wrapper {
    color: #122751;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.custom-checkbox .ant-checkbox+span a {
    color: #122751;
    /* text-decoration: underline; */
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

/* Checkbox width */
.ant-checkbox-group {
    width: 100%;
}

/* table title */
.custom-ant-table .ant-table-thead>tr>th {
    color: #8D94A3 !important;
    font-weight: 500 !important;
    font-size: 14px;
    /* border: 1px solid #122751 !important; */
    font-family: "Roboto", sans-serif;
}

/* table cell  */
.ant-table-cell {
    color: #122751 !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    font-family: "Roboto", sans-serif;
    padding: 9px !important;
}

/* collapse header color  */
.ant-collapse-header {
    color: #122751 !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    padding: 10px !important;
    font-family: "Roboto", sans-serif;
}

/* Drawer Title center and color */
.ant-drawer-title {
    color: #122751 !important;
    text-align: center !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    font-family: "Roboto", sans-serif;
}

/* Dropdown Text */
.ant-dropdown-menu-title-content {
    color: #122751 !important;
    font-weight: 400 !important;
    font-family: "Roboto", sans-serif;
}


/* Table border */
.custom-ant-table .ant-table-thead::before {
    content: '';
    display: block;
    border: 1px solid #E4EAF2;
    border-radius: 12px 12px 12px 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1;
}

/* Table Background and z-index fix */
.custom-ant-table .ant-table-thead {
    position: relative;
    z-index: 2;
}


/* Calender text changes */
/* 1. Weekday header text (Sun, Mon...) */
.ant-picker-content thead>tr>th {
    color: #122751 !important;
    font-weight: 500 !important;
}

/* 2. Current month dates */
.ant-picker-cell-in-view .ant-picker-cell-inner {
    color: #122751;
    font-weight: 500 !important;
}

/* 3. Dates outside current month */
.ant-picker-cell:not(.ant-picker-cell-in-view) .ant-picker-cell-inner {
    color: #8D94A3;
    font-weight: 500 !important;
}

/* 4. Month and Year heading text */
.ant-picker-header-view {
    color: #122751 !important;
    font-weight: 500 !important;
}

/* Time picker color changes */
/* 1. Time picker dropdown text (hours, minutes, seconds) */
.ant-picker-time-panel-cell-inner {
    color: #122751 !important;
}

/* 2. Time picker selected text */
.ant-picker-time-panel-column>li.ant-picker-time-panel-cell-selected {
    color: #122751 !important;
    font-weight: 600;
}

/* 3. Time picker now text */
.ant-picker-now-btn {
    color: #122751 !important;
    font-weight: 600 !important;
}

/* 4. Time picker ok btn */
.ant-picker-ok button {
    color: #ffffff !important;
    /* font-weight: 600 !important; */
    background-color: #2363E3 !important;
}


.ant-message-notice-content{
    background-color: #fff1f0 !important;
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  